body {
  margin: 100px auto !important;
  max-width: 900px;
  font-family: 'Lato', sans-serif !important;
  font-weight: 400 !important;
  background-color: #faf9f9 !important;
}

h1 {
  font-size: 30px !important;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Lato";
  font-weight: bold !important;
  letter-spacing: 0.05em;
  /* color: #555b6e; */
}

h2 {
  font-size: 24px !important;
  font-weight: 700 !important;
  margin-top: 30px !important;
  /* color: #555b6e; */

}

h3 {
  font-size: 18px !important;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-top: 25px !important;
  color: #629390;
}
h4 {
  font-size: 18px !important;
  font-style: italic;
  margin-top:25px !important;
}


p > a {
  font-weight: 600;
}

hr {
  border-width: 2px !important;
}

@media (max-width: 300) {
  div {
    display: block;
    margin-left:auto !important;
    margin-right: auto !important;
  }
}



.about-img {
  margin-top:20px;
}

.name-title {
  font-size: 36px !important;
  /* color: #629390; */
  

}
.subheader {
  font-size: 14px !important;
  margin-top: -5px !important;
  margin-bottom: 0px !important;

  font-family: 'europa', sans-serif;

  font-weight: 400;
  color: #555b6e;

/* 
  font-style: lowercase;
  text-transform: lowercase; */
  font-style: italic;
}

.header {
  text-align: center;
  margin-top: 100px;
}

.nav {
  /* font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase; */

  font-family: 'europa', sans-serif;

  font-weight: 400;

  font-style: lowercase;
  text-transform: lowercase;
  font-size: 18px;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 5px;
  padding-bottom: 7px; */

  margin-top: 0 !important;
  padding-top: 0 !important;

}


a {
  color: #f08914 !important;
}

a:hover {
  color: #fda036 !important;
}

.nav > a {
  color: #555b6e !important;
  line-height: .9;
  
}
.nav > .nav-link.active {
  color: #ffffff !important;
  background-color: #629390;
  border-radius: 8px;
} 
  /* color: #478A84 !important; */
  /* color: #000000 !important; */

.nav > a:hover {
  color: #ffffff !important;
  background-color: #62939085 !important;
  border-radius: 8px;
}

#footer > a {
  color: #629390 !important;
}
#footer > a:hover {
  color: #62939085 !important;
}

/* project page */
.content-card {
  border-radius: 30px;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 12px 30px 12px 30px  ;
  background-color: white;
}


.reduced-line-height {
  line-height: 1;
}
.card-deck {
  justify-content: center;
  margin-top: 30px;
}

.fullCard { 
  width: 20rem;
  /* height: 350px; */
  text-align: left;
  /* margin-bottom: 10px !important;
  margin-top: 10px !important; */

  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 4px 10px 0 rgba(0, 0, 0, 0.15); */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18), 0 3px 5px 0 rgba(0, 0, 0, 0.15);
  /* padding:3px; */
}

.fullCard:hover {
  /* filter:opacity(50%); */
  cursor: pointer;

}


.card-img-top {
  height: 240px;
  margin-top: -6px;
  /* padding:3px; */
  border-radius: 0.25rem 0.25rem 0 0 !important;
  top:0;

}

/* .card-img-top:hover {
  filter: brightness(50%)
} */

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* bottom: 0; */
  background: #515353e8;
  /* background: rgba(255, 255, 255, 0.9);  */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  height: 230px;
  /* font-family: 'Open Sans', sans-serif;
  text-transform: uppercase; */
  border-radius: .25rem .25rem 0 0;
  /* margin:3px; */


}

.fullCard:hover .overlay {
  opacity: 1;
}


.card-title {
  font-weight: 700;
  margin-bottom: 8px;
  margin-top:-5px;
}

.card-badge {
  /* margin: 5px; */
  margin-right:5px;
  /* border: 1px solid #a0afae; */
  background-color: #629390;
  color:white;
  padding: 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}


.projectPage {
  margin: 30px 0px;
  padding: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* background-color: #faf9f9; */
  background-color: white;
}


.close-button {
  padding:0px !important;
  margin-top:-180px !important;
  margin-left:-100px !important;
}

.return-button {
  font-size:16px !important;
  border-radius: 10px !important;
  padding:3px !important;
  margin-top:10px !important;
}
.spacer {
  margin-left: 5px;
}

#footer {
  /* position:absolute;
  width: 100%; */
  text-align: center;
  bottom:0;
  height:5rem;

  margin-left: 15%;
  margin-right:15%;
}



.bubble {
  border-radius: 10px;
  height: auto;
  padding: 25px 15px 10px 15px  ;
  background-color: #DCE1E3;
  text-align: left;
}


.iframe-container {
  position: relative;

  /* overflow: hidden; */
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

}
.prototype-frame {
  overflow:scroll !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.open-tab {
  text-align: right;
  padding-bottom: 5px;
}

.top-links {
  padding-bottom: 5px;
}


#resume-container {
  margin-top: 30px;
}